{{> header }}

<div class="ui stackable two column very relaxed grid container">
  <div class="row">
    <div class="column">
      <div class="ui segment">
				<div id="ui" class="ui card">
				  <div class="image">
				    <img src="/public/images/person_avatar_placeholder.png">
				  </div>
				  <div class="content">
				    <p class="header">User <i>{{this.username}}</i></p>
				  </div>
				  <div class="extra content">
				    Total points: {{this.points}}
				  </div>
				</div>
			</div>
      {{#ifCond this.quizDone 1}}
			<div class="ui segment">
				<h1>My answers</h1>
					<table class="ui celled table">
            <thead>
              <th>Question</th>
              <th>Answer</th>
              <th>Points</th>
            </thead>
						<tbody>
							{{#each answers}}
								<tr>
									<td>{{this.question}}</td>
									<td>{{this.answer}}</td>
                  {{#ifCond this.pointsGiven 1}}
                    <td>{{this.points}}</td>
                  {{else}}
                    <td>N/A</td>
                  {{/ifCond}}
								</tr>
							{{/each}}
						</tbody>
					</table>
			</div>
      {{else}}
      <p>You have not submitted quiz answers yet. Do it <a href="/quiz/start">here</a>.</p>
      {{/ifCond}}
    </div>
    {{#ifCond this.quizDone 1}}
    <div class="column">
      <div class="ui segment">
				<h1>My match results</h1>
				<table class="ui celled table">
          <thead>
            <th colspan="3">Match</th>
            <th colspan="1">Result</th>
            <th colspan="1">Points</th>
          </thead>
			    <tbody>
						{{#each matches}}
							<tr>
								<td>{{this.homeTeam}}</td>
								<td> vs. </td>
								<td>{{this.awayTeam}}</td>
								<td>{{this.homeGoals}} - {{this.awayGoals}}</td>
                {{#ifCond this.pointsGiven 1}}
                  <td>{{this.points}}</td>
                {{else}}
                  <td>N/A</td>
                {{/ifCond}}
							</tr>
						{{/each}}
			    </tbody>
			  </table>
			</div>
    </div>
    {{/ifCond}}
  </div>
</div>
