{{> header}}

<div id="matchesTableDiv" class="ui container">

  <h1>Group stage match results</h1>
  <p>Guess the result of each match played in the group stage. Enter the number of goals scored by both teams.</p>
  <p>Points: <br>
    Correct outcome (1-X-2): <b>2 points</b><br>
    Correct number of goals for one team: <b>1 point</b><br><br>
    Max points for one match: <b>5 points</b> (2 points for outcome, 1 point for each team's goals, 1 bonus point for a perfect guess)<br><br>
  </p>
    <form method="POST" action="/quiz/matches">
      <table class="ui fixed table">
        <tbody>
          {{#each matches}}
            <tr>
              <td>{{this.date}} <br>
                  {{this.groupNumber}} <br>
                  {{this.location}} <br>
              </td>
              <td>
                <img src="/public/images/flags/{{parseImgFileName this.homeTeam}}" height="20" width="40">
                <div class="ui input label">
                  {{this.homeTeam}}
                </div>
                <div class="ui input focus" style="float:right;">
                  <input name="{{this.matchNumber}}-homeGoals" type='number' min='0' placeholder="Goals" required>
                </div>
              </td>
              <td>
                <img src="/public/images/flags/{{parseImgFileName this.awayTeam}}" height="20" width="40">
                <div class="ui input label">
                  {{this.awayTeam}}
                </div>
                <div class="ui input focus" style="float:right;">
                  <input class="ui input focus" name="{{this.matchNumber}}-awayGoals" type='number' min='0' placeholder="Goals" required>
                </div>

              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <button type="submit" class="ui basic positive huge button">Submit your answers</button>
      <br><br><br><br>
    </form>
</div>
