{{> header}}

<div id="standingsTableDiv" class="ui container">

  <h1>Final standings of the Fifa World cup 2018</h1>
  <p>Guess the TOP 3 teams of the tournament.</p>
  <p>Points: <br>
    Both team AND place correct: <b>5 points</b><br>
    Team correct but place incorrect: <b>2 points</b><br>
  </p>
    <form method="POST" action="/quiz/standings">
      <table class="ui table">
        <tr>
          <td>Champion</td>
          <td>
            <select name="standings_champion" class="ui fluid search dropdown">
              {{#each teams}}
                <option value="{{this.team}}">{{this.team}}</option>
              {{/each}} 
            </select>
          </td>
        </tr>
        <tr>
          <td>Runner-up</td>
          <td>
            <select name="standings_runnerUp" class="ui fluid search dropdown">
              {{#each teams}}
                <option value="{{this.team}}">{{this.team}}</option>
              {{/each}}
            </select>
          </td>
        </tr>
        <tr>
          <td>3rd place</td>
          <td>
            <select name="standings_thirdPlace" class="ui fluid search dropdown">
              {{#each teams}}
                <option value="{{this.team}}">{{this.team}}</option>
              {{/each}}
            </select>
          </td>
        </tr>
      </table>
      <button type="submit" class="ui basic positive huge button">Submit your answers</button>
    </form>
  </div>
</div>
